@{ Layout = null; }

@if (Identity != null)
{
	<ul class="nav navbar-nav navbar-right">
		<li>
			@Html.ActionLink("Hello " + Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
		</li>
		<li><a href="javascript:void(0)" ng-click="vm.logout()">Log off</a></li>
	</ul>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Register", "Signup", "Login", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}