@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome newby</h1>
    <p class="lead">Phobos Development Center is a place where you can learn new things and explore their deep inner workings</p>
</div>