@{
	Layout = null;
}


<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Satellizer</title>
	<link href="favicon.png" rel="shortcut icon">
	<link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//cdn.jsdelivr.net/animatecss/3.2.0/animate.css" rel="stylesheet">

	@Styles.Render("~/Content/css")
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="center-form panel">
				<div class="panel-body">
					<h2 class="text-center">Log in</h2>
					<form method="post" ng-submit="login()" name="loginForm">
						<div class="form-group has-feedback">
							<input class="form-control input-lg" type="text" name="email" ng-model="user.email" placeholder="Email" required autofocus>
							<span class="ion-at form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback">
							<input class="form-control input-lg" type="password" name="password" ng-model="user.password" placeholder="Password" required>
							<span class="ion-key form-control-feedback"></span>
						</div>
						<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Log in</button>
						<br />
						<p class="text-center text-muted">
							<small>Don't have an account yet? @Html.ActionLink("Sign up", "Signup", "Login")</small>
						</p>
						<div class="signup-or-separator">
							<h6 class="text">or</h6>
							<hr>
						</div>
					</form>

					<button class="btn btn-block btn-google-plus" ng-click="authenticate('google')">
						<span class="ion-social-googleplus"></span>Sign in with Google
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>