@{
	Layout = null;
}


<!DOCTYPE html>
<html ng-app="module.login">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Satellizer</title>
	<link href="favicon.png" rel="shortcut icon">
	<link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//cdn.jsdelivr.net/animatecss/3.2.0/animate.css" rel="stylesheet">

	<link href="~/node_modules/angular-toastr/dist/angular-toastr.css" rel="stylesheet" />

	@Styles.Render("~/Content/css")
</head>
<body>
	<div class="container" ng-controller="LoginController as vm">
		<div class="row">
			<div class="center-form panel">
				<div class="panel-body">
					<h2 class="text-center">Log in</h2>
					<form method="post" ng-submit="vm.login(vm.user)" name="loginForm">
						<div class="form-group has-feedback">
							<input class="form-control input-lg" type="text" name="email" ng-model="vm.user.email" placeholder="Email" required autofocus>
							<span class="ion-at form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback">
							<input class="form-control input-lg" type="password" name="password" ng-model="vm.user.password" placeholder="Password" required>
							<span class="ion-key form-control-feedback"></span>
						</div>
						<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Log in</button>
						<br />
						<p class="text-center text-muted">
							<small>Don't have an account yet? @Html.ActionLink("Sign up", "Signup", "Login")</small>
						</p>
						<div class="signup-or-separator">
							<h6 class="text">or</h6>
							<hr>
						</div>
					</form>

					<button class="btn btn-block btn-google-plus" ng-click="vm.authenticate('google')">
						<span class="ion-social-googleplus"></span>Sign in with Google
					</button>
				</div>
			</div>
		</div>
	</div>

	<script src="~/node_modules/angular/angular.js"></script>
	<script src="~/node_modules/satellizer/satellizer.js"></script>
	<script src="~/node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>

	<script>
		(function () {
			'use strict';

			angular.module('module.app', ['satellizer', 'toastr']);

			angular
				.module("module.app")
				.config(config);

			config.$injector = ['$authProvider'];

			function config($authProvider) {
				$authProvider.loginUrl = 'http://localhost:37227/token';

				$authProvider.google({
					authorizationEndpoint: 'http://localhost:37227/api/v1/account/externallogin?provider=Google'
				});
			};
		})();
	</script>

	<script src="~/app/common/services/window.service.js"></script>

	<script src="~/app/login/login.module.js"></script>

	<script src="~/app/login/controllers/login.controller.js"></script>
</body>
</html>